<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.test43.dao.JoinLoginMapper">
	<select id="searchStudent" parameterType="string"
		resultType="student">
		select
		st_id
		,st_pw
		,st_gender
		,st_age
		,st_phone
		,st_loc
		,st_lan1
		,st_lan2
		,st_lan3
		,st_avg
		from
		tpStudent
		where
		st_id = #{st_id}
	</select>
	<select id="searchTeacher" parameterType="string" resultType="teacher">
		select
		tc_id
		,tc_pw
		,tc_gender
		,tc_teachLan
		,tc_lan1
		,tc_lan2
		,tc_lan3
		,tc_phone
		,tc_loc
		,tc_pic
		,tc_intro
		,tc_price
		,tc_req
		,tc_avg
		from
		tpTeacher
		where
		tc_id = #{tc_id}
	</select>

</mapper>