.formthree {
    background: #f7f7f7
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.div-center{
    width:100%;
    height:100%;
    background:#000;
    position:relative;
} 
.div-center1{ 
    width:300px;
    height:300px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-150px;
}
.container {
	text-align: center !important ; 
	margin: 0 auto !important; 	/* display: inline-flex; */
}


.formthree .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 13px;
    border-bottom: 1px solid #d3d3d3;
    background: transparent;
    font-family: 'Roboto'
}

form .btn {
    border-radius: 0 !important
}

.formthree form button.btn {
    margin: 30px auto;
    display: block;
    padding: 11px 32px;
    background: #4285f4;
    border: 1px solid #4285f4;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.formthree .btn-primary.focus,
.formthree .btn-primary:hover {
    background-color: transparent;
    color: #4285f4;
    border: 1px solid #4285f4 !important
}